name: github pages - dev

on:
  push:
    branches:
      - dev  # Set a branch to deploy
    pull_request:

jobs:
  deploy:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: 'latest'
          extended: true

      - name: Build
        run: hugo --minify --environment dev

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/dev'
        with:
          deploy_key: ${{ secrets.DEPLOYKEY_DEV }}
          external_repository: system32blog/blog-page-dev
          publish_branch: main
          cname: dev.system32.blog